.container {
  font-size: 40px;
  padding: var(--theme-spacing-2) var(--theme-spacing-2);
  border: 2px solid var(--theme-primary);
  border-radius: var(--theme-roundness);
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1em;
}

.logo {
  width: 5em;
}

.label {
  font-size: 0.5em;
  font-weight: bold;
  opacity: 0.75;
  margin-bottom: -0.5em;
}

@media only screen and (max-width: 600px) {
  .container {
    font-size: 20px;
    flex-wrap: wrap;
  }
}
