.block {
  padding: var(--theme-spacing-2) var(--theme-spacing-4);
  max-width: 1000px;

  @media only screen and (max-width: 600px) {
    padding: var(--theme-spacing-2) var(--theme-spacing-1);
  }

  transition: padding 0.1s ease-in-out;
}

.header {
  display: flex;
  align-items: center;
  max-width: none;

  & > *:not(:last-child) {
    margin-right: var(--theme-spacing-2);
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.nav {
  & .nav-list {
    display: flex;
    & > *:not(:last-child) {
      margin-right: var(--theme-spacing-2);
    }
  }
}

.main {
  padding-top: 0;
}

.post-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-top-right-radius: var(--theme-roundness);
  border-bottom-right-radius: var(--theme-roundness);
  width: fit-content;

  & li {
    list-style: none;
  }
}

body {
  margin-bottom: 50vh;
}
